/target
build_libtika/target
/graalvm_jdk
/gradle-8.10-bin.zip
/libtika_native.dylib
/libtika_native.so
/libtika_native.dll
/libtika_native.lib
/libjava.so
/libjvm.so
/libawt.so
/libawt_headless.so
/extract-cli
pkg